<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<settings>
    <category label="32000"> 
      <setting label="32010" type="executable" id="xbmc_starts"/>
      <setting label="32012" type="executable" id="player_starts"/>
      <setting label="32013" type="executable" id="player_stops"/>
      <setting label="32014" type="executable" id="player_pauses"/>
      <setting label="32015" type="executable" id="player_resumes"/>
      <setting label="32016" type="executable" id="screensaver_starts"/>
      <setting label="32017" type="executable" id="screensaver_stops"/>
      <setting label="32018" type="executable" id="xbmc_idle"/>
      <setting label="32019" type="slider" id="idle_time" default="10" range="1,1,60" option="int" />
      <setting label="32020" type="executable" id="db_update"/>
    </category>
</settings>
